
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectIndex</title>
</head>
<body>
    <div><h3>訂單查詢</h3></div>
    <div>
        <table  border="1" style="width:50%" border-collapse="collapse">
            <tr>
                <td>訂單編號</td>
                <td colspan="3">@Html.TextBox("OrderID")</td>
            </tr>
            <tr>
                <td>客戶名稱</td>
                <td colspan="3">@Html.TextBox("CustomerID")</td>
            </tr>
            <tr>
                <td>負責員工</td>
                <td colspan="3"><select></select>@*@Html.DropDownList();*@</td>
            </tr>
            <tr>
                <td>出貨公司</td>
                <td colspan="3"><select></select>@*@Html.DropDownList();*@</td>
            </tr>
            <tr>
                <td>訂購日期</td>
                <td colspan="3"><input type="date" /></td>
                <td>出貨日期</td>
                <td colspan="3"><input type="date" /></td>
            </tr>
            <tr>
                <td>需要日期</td>
                <td colspan="3"><input type="date" /></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">
                    <input type="button" value="查詢" />
                    <input type="button" value="清除" />
                    <input type="button" value="新增訂單" />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
