
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectIndex</title>
</head>
<body>
    <div><h3>訂單查詢</h3></div>
    <div> 
        <table border="1" border-collapse="collapse">
            <tr>
                <td>訂單編號</td>
                <td colspan="3">@Html.TextBox("OrderID")</td>
            </tr>
            <tr>
                <td>客戶名稱</td>
                <td colspan="3">@Html.TextBox("CustomerID")</td>
            </tr>
            <tr>
                <td>負責員工</td>
                <td colspan="3">@*@Html.DropDownList();*@</td>
            </tr>
            <tr>
                <td>出貨公司</td>
                <td colspan="3">@*@Html.DropDownList();*@</td>
            </tr>
            <tr>
                <td>訂購日期</td>
                <td colspan="3">@Html.Html5DateRenderingMode</td>
            </tr>
        </table>
    </div>
</body>
</html>
